################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/The-Scheduler/v17/Browse.VC.opendb
